body{
background:#0f172a;
color:#e5e7eb;
font-family:system-ui;
}

.hero{
min-height:100vh;
display:flex;
align-items:center;
background:linear-gradient(135deg,#0f172a,#1e293b,#020617);
color:white;
}

.hero p{
color:#9ca3af;
}

h1{
font-size:48px;
font-weight:700;
}

p{
color:#9ca3af;
}

.btn-dark{
background:#38bdf8;
border:none;
color:#0f172a;
font-weight:600;
}

.btn-dark:hover{
background:#0ea5e9;
}

.profile-img{
width:260px;
height:260px;
border-radius:50%;
object-fit:cover;
display:block;
}

.profile-img:hover{
transform:scale(1.05);
box-shadow:0 15px 40px rgba(56,189,248,0.4);
}

.profile-wrapper{
display:inline-block;
padding:6px;
border-radius:50%;
background:linear-gradient(135deg,#38bdf8,#6366f1);
}

.about-box{
background:#111827;
padding:30px;
border-radius:10px;
}

.about-box li{
margin-bottom:10px;
color:#9ca3af;
}

#about{
padding-top:120px;
padding-bottom:80px;
margin-top: 60px;
}

.progress{
height:10px;
background:#1f2937;
}

.progress-bar{
width:0;
transition:width 1.5s ease;
}

.skill-html{width:90%;}
.skill-css{width:80%;}
.skill-js{width:30%;}
.skill-php{width:60%;}
.skill-mysql{width:60%;}
.skill-git{width:55%;}

form input, form textarea{
background:#111827;
border:none;
color:white;
}

form input::placeholder,
form textarea::placeholder{
color:#6b7280;
}

.social-icons{
display:flex;
gap:25px;
margin-top:20px;
}

.icon-link{
font-size:40px;
color:#e5e7eb;
transition:0.3s;
}

.icon-link:hover{
color:#38bdf8;
transform:scale(1.2);
}

section{
scroll-margin-top:80px;
}

.navbar{
transition:0.3s;
}

.navbar-scrolled{
background:#0f172a !important;
box-shadow:0 4px 20px rgba(0,0,0,0.3);
}

.nav-link.active{
color:#38bdf8 !important;
font-weight:600;
}

.reveal{
opacity:0;
transform:translateY(40px);
transition:all 0.8s ease;
}

.reveal.active{
opacity:1;
transform:translateY(0);
}

#topBtn{
position:fixed;
bottom:30px;
right:30px;
background:#0f172a;
color:white;
border:none;
width:45px;
height:45px;
border-radius:50%;
font-size:20px;
display:none;
align-items:center;
justify-content:center;
cursor:pointer;
box-shadow:0 5px 15px rgba(0,0,0,0.3);
transition:0.3s;
}

#topBtn:hover{
transform:scale(1.1);
background:#1e293b;
}

.cursor{
animation:blink 1s infinite;
}

@keyframes blink{
0%{opacity:1;}
50%{opacity:0;}
100%{opacity:1;}
}

.section-title{
position:relative;
display:inline-block;
padding-bottom:8px;
}

.section-title::after{
content:"";
position:absolute;
left:0;
bottom:0;
width:40px;
height:3px;
background:#38bdf8;
transition:0.4s;
}

.section-title:hover::after{
width:100%;
}

#skills span{
font-size:14px;
color:#9ca3af;
}

.btn{
transition:all 0.3s ease;
}

.btn:hover{
transform:translateY(-2px);
box-shadow:0 8px 20px rgba(0,0,0,0.3);
}